.col-md-12(
  masonry
  infinite-scroll="loadData()"
  infinite-scroll-immediate-check="false"
)
  div.col-md-3.group(
    ng-repeat="group in groups.data"
    ui-sref="edit-group({id: group.id})"
    ng-class="group.color"
  )
    include ../group-block.jade
