.registration-block(ng-controller="RegistrationController")
  .row
    form(
      name="registration"
      ng-submit="register()"
      novalidate
    )
      .form-group
        label Login
        input.form-control(
          type="text"
          name="login"
          ng-model="user.username"
          required
        )
        p.help-block Enter your username
      .form-group
        label Password
        input.form-control(
          type="password"
          name="password"
          ng-model="user.password"
          required
        )
        p.help-block Enter password
      .form-group
        label Confirm Password
        input.form-control(
          type="password"
          name="confirmPassword"
          ng-model="user.confirmPassword"
          ui-validate=" '$value==user.password' "
          ui-validate-watch="user.password"
          tooltip="Passwords aren't equal"
          tooltip-placement="bottom" 
          tooltip-enable="registration.confirmPassword.$error.validator"
          required
        )
        p.help-block Enter confirm password
      .form-group
        label Email
        input.form-control(
          type="email"
          name="email"
          ng-model="user.email"
          tooltip="It's not email"
          tooltip-placement="bottom" 
          tooltip-enable="registration.email.$error.email"
          required
        )
      input.btn(
        type="submit"
        value="Sign up"
        ng-disabled="!registration.$valid"
      )
      input.btn(
        type="button"
        value="Exit"
        ui-sref="login"
      )
