include ./logout.jade
.task-list(ng-controller="TaskController")
  .row
    form(ng-submit="addTask()")
      input.form-control.input-task(
        type="text"
        placeholder="Type your task"
        ng-model="newTask"
      )
      input.btn.add-task(
        type="submit"
        value="Add"
      )
  .row
    ul#tasks.unstyled
      li.task(
        ng-repeat="task in tasks"
        ng-class="{completed:task.is_completed}"
        ui-sref="edit({id:task.id})"
      ) {{task.description}}

  .row
    .btn-group.controls(data-toggle="buttons")
      label.btn.control(ng-click="filter('active')")
        input#active(type="radio", name="options") 
        |Active
      label.btn.control(ng-click="filter('completed')")
        input#completed(type="radio", name="options") 
        |Completed
      label.btn.control(ng-click="filter('all')")
        input#All(type="radio", name="options") 
        |All

  .row
    ul.pagination
      li(
        ng-repeat="page in pages"
        ng-click="changePage(page)"
      )
        a(href="#") {{page+1}}

  .row
    button(ng-click="sortTasks('description')") ASC
    button(ng-click="sortTasks('-description')") DESC
    button(ng-click="sortTasks(null)") Non

  .row
    input(type="text", ng-model="filterBy")
    button(ng-click="filterTasks()") Filter

