include ./logout.jade
div(ui-view="list", ng-if="taskView == 'list'")
div(ui-view="table", ng-if="taskView == 'table'")
.row
  .btn-group.controls
    label.btn.control(
      ng-model="taskView"
      btn-radio="'list'"
      ng-click="changeView('list')"
    ) List
    label.btn.control(
      ng-model="taskView"
      btn-radio="'table'"
      ng-click="changeView('table')"
    ) Table
