.row.new-groups-inp(
  ng-controller="AddGroupController"
  ng-switch="actions.action"
)
  .col-md-6.col-md-offset-3.new-group(
    ng-switch-when="default"
    ng-click="actions.action='new-task'"
  )
    span New group
    span.ctl-pane.pull-right
      i.glyphicon.glyphicon-th-list.ctrl-btn(
        tooltip-placement="bottom"
        tooltip="Create new list"
        ng-click="actions.action='new-task';listMode(view)"
      )
      i.glyphicon.glyphicon-search.ctrl-btn(
        tooltip-placement="bottom"
        tooltip="Search"
        ng-click="actions.action='search'"
      )
  .col-md-6.col-md-offset-3.new-group(ng-switch-when="new-task")
    textarea.task-title(
      msd-elastic
      ng-model="newGroup.title"
      placeholder="Input a title"
    )
    textarea.task-description(
      msd-elastic
      ng-model="newGroup.items[0].description"
      placeholder="Description"
      ng-if="!view.isList"
    )
    .new-tasks(ng-if="view.isList")
      .row.new-task(ng-repeat="item in newGroup.items")
        .col-md-1
          input.toogle(
            type="checkbox"
            ng-model="item.is_completed"
          )
        .col-md-11
          textarea.task-description(
            msd-elastic
            rows="1"
            ng-model="item.description"
          )
      textarea.task-description(
        msd-elastic
        placeholder="Description"
        ng-model="newTask.description"
        ng-blur="addTask(newTask)"
      )

    .control-pane
      .btn-group
        i.glyphicon.glyphicon-user.btn.btn-default(
          tooltip-placement="bottom"
          tooltip="Add user"
        )
        i.glyphicon.glyphicon-tasks.btn.btn-default(
          tooltip-placement="bottom"
          tooltip="List"
          ng-click="listMode(view)"
        )
        i.glyphicon.glyphicon-save-file.btn.btn-default(
          tooltip-placement="bottom"
          tooltip="Add file"
        )
      .btn-group.pull-right
        i.glyphicon.glyphicon-ok.btn.btn-default(
          tooltip-placement="bottom"
          tooltip="Add group"
          ng-click="addGroup(newGroup)"
        )
        i.glyphicon.glyphicon-remove.btn.btn-default(
          tooltip-placement="bottom"
          tooltip="Cancel"
          ng-click="cancel()"
        )
