include ./add-groups.jade
.row
  .btn-group.switch.pull-right
    label.btn.btn-primary(
      ng-model="groupView"
      btn-radio="'list'"
      ng-change="changeGroupView('list')"
    )
      i.glyphicon.glyphicon-th-list
    label.btn.btn-primary(
      ng-model="groupView"
      btn-radio="'panel'"
      ng-change="changeGroupView('panel')"
    )
      i.glyphicon.glyphicon-th
.row
  div(ui-view="list", ng-if="groupView == 'list'")
  div(ui-view="panel", ng-if="groupView == 'panel'")

