.row(
  ng-init="actions.action='default'" 
  ng-switch="actions.action"
)
  div.col-md-6.col-md-offset-3.new-group(
    ng-switch-when="default" 
    ng-click="actions.action='new-task'"
  )
    span New group
    span.ctl-pane.pull-right
      i.glyphicon.glyphicon-th-list.ctrl-btn(
        tooltip-placement="bottom"
        tooltip="Create new list"
        ng-click="$event.stopPropagation()"
        )
      i.glyphicon.glyphicon-search.ctrl-btn(
        tooltip-placement="bottom"
        tooltip="Search"
        ng-click="actions.action='search'"
        )
  div.col-md-6.col-md-offset-3.new-group(
    ng-switch-when="new-task"
    )
    div.task-title(
      contentEditable="true"
      ng-model="newGroup.title"
      placeholder="Input a title"
      ng-init="view.isList=false"
    )
    div.task-description(
      contentEditable="true"
      ng-model="newGroup.tasks[0].description"
      placeholder="Description" ng-if="!view.isList"
      )
    div.new-tasks(
      ng-if="view.isList"
    )
      div.new-task(
        ng-repeat="task in newGroup.tasks"
      ) 
        input.toogle(
          type="checkbox"
          ng-model="task.is_completed"
        )
        span.task-description(
          contentEditable="true"
          ng-model="task.description"
        )
      div.task-description(
        contentEditable="true"
        placeholder="Description"
        ng-model="newTask.description"
        ng-blur="addTask(newTask)"
      )
    div.control-pane 
      i.glyphicon.glyphicon-user.ctrl-btn(
      tooltip-placement="bottom"
      tooltip="Add user"
    )
      i.glyphicon.glyphicon-tasks.ctrl-btn(
        tooltip-placement="bottom"
        tooltip="List"
        ng-click="listMode(view)"
      )
      i.glyphicon.glyphicon-save-file.ctrl-btn(
        tooltip-placement="bottom"
        tooltip="Add file"
      )
      span.pull-right
        i.glyphicon.glyphicon-ok.pull-right.ctrl-btn(
          tooltip-placement="bottom"
          tooltip="Add group"
          ng-click="addGroup(newGroup)"
        )
        i.glyphicon.glyphicon.glyphicon-remove.ctrl-btn(
          tooltip-placement="bottom"
          tooltip="Cancel"
          ng-click="cancel()"
        )

.row
  .btn-group.switch.pull-right
    label.btn.btn-primary(ng-model="groupView", btn-radio="'list'")
      i.glyphicon.glyphicon-th-list
    label.btn.btn-primary(ng-model="groupView", btn-radio="'panel'")
      i.glyphicon.glyphicon-th
.row
  div(ui-view="list", ng-if="groupView == 'list'")
  div(ui-view="panel", ng-if="groupView == 'panel'")

