.col-md-6.col-md-offset-3
  div.col-md-12.group(
    ng-repeat="group in groups.data"
    ui-sref="edit-group({id: group.id})"
  )
    include ../group-block.jade
  pagination.pagination-sm.pull-left(
    max-size=5
    items-per-page="paginatorConfig.itemsPerPage"
    total-items="paginatorConfig.totalItems"
    ng-model="paginatorConfig.currentPage"
    ng-change="paginatorConfig.changePage()"
  )

